@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:wght@300;400&Poppins:800&family=Ubuntu:wght@400,700&display=swap');
.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Source Code Pro';
  font-weight: 300;
  color: #FFD10E;
  background: radial-gradient(#161616 5%, #271F0B 45%, #362701 50%, #271F0B 55%, #161616 60%);
  background-image: url('./components/radiance.svg');
  background-size: cover;
  background-repeat: no-repeat;
  .header {
    position: fixed;
    top: 20px;
    left: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 3.82px;
    color: #FFB800;
  }
  .mode {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    margin-top: 125px;
    .item {
      cursor: not-allowed;
      font: 700 50px 'Poppins', sans-serif;
      text-transform: uppercase;
      color: #FFB800;
    }
  }
  .subtitle {
    font: 400 16px 'Ubuntu', sans-serif;
    position: fixed;
    top: 68%;
    left: 20px;
    width: 100%;
    text-transform: uppercase;
    .suffix {
      span {
        margin-right: 10px;
        margin-top: -5px;
        font-size: 14px;
      }
      .activeSuffix {
        color: white;
        font-weight: 700;
      }
      input[type="radio"] {
        border: solid 1px #FF43B4;
        background: none;
      }
      .limitInput {
        width: 20px;
        background: black;
        border: none;
        outline: none;
        color: #FFD10E;
        text-align: center;
        padding: 5px 10px;
      }
    }
  }
  form {
    position: fixed;
    left: 0;
    top: calc(50% - 100px);
    width: 100%;
    height: 100px;
    text-align: center;
    input {
      width: 400px;
      height: 100px;
      background: linear-gradient(110deg, #1C1208, #000000 50%, #1C1208 100%);
      color: #FFB800;
      outline: none;
      padding: 15px 25px;
      font-family: 'Source Code Pro';
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      border: none;
      &::placeholder {
        color: #FFB800;
        font-weight: 300;
      }
    }
    button {
      margin-left: -60px;
      background-color: inherit;
      border: none;
      outline: none;
      color: white;
      font-size: 3rem;
      cursor: pointer;
    }
  }

  .reset {
    position: fixed;
    left: 20px;
    top: calc(50% - 50px);
    background-color: black;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font: 400 14px 'Source Code Pro';
    text-transform: uppercase;
    z-index: 2;
    &:hover {
      color: #FFB800;
    }
  }
  
  .errorMessage {
    margin: 20px auto;
    height: 20px;
    font-size: 1.5rem;
    color: red;
  }

  .scoreContainer {
    position: fixed;
    left: 30px;
    bottom: 20px;
    font: bold 75px 'Ubuntu', sans-serif;
    .score {
      color: white;
    }
    .speed {
      color: #FFD10E;
    }
    .passive {
      color: #664A03;
    }
  }
}


